{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div class="container mt-5">
  <h1 class="mb-4">{% if edit %}Редактировать сделку{% else %}Добавить сделку{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{% if edit %}Сохранить изменения{% else %}Создать сделку{% endif %}</button>
    <a href="{% url 'deal_list' %}" class="btn btn-secondary">Назад</a>
  </form>
</div>
</body>
</html>
{% endblock %}
